#sidebar{
    display: flex;
    background-color: #283593; 
    color: white; 
    width: 100px; 
    height: 100%;
    transition: width 100ms linear;
}

#sidebar.hidded{
    width: 0px;
}

#sidebar.displayed{
    width: 100px; 
}