<div id="sidebar" [class.displayed]="display" [class.hidded]="!display">
    <div id="sidebar-logo-container">
        <div id="sidebar-logo-circle" [class.displayed]="display" [class.hidded]="!display">
             <img id="sidebar-logo" src="https://www.freepnglogos.com/uploads/-d-logo-png-5.png">
        </div>
    </div>
    <div id="sidebar-operations-container">
        <a class="sidebar-selection">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
        </a>
        <a class="sidebar-selection">
            <i class="fa fa-clock-o" aria-hidden="true"></i>                
        </a>
        <a class="sidebar-selection">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>                
        </a>
    </div>
    <div id="sidebar-settings-container">
        <a class="sidebar-selection">
            <i class="fa fa-cog" aria-hidden="true"></i>                
        </a>
        <a class="sidebar-selection">
            <i class="fa fa-question-circle" aria-hidden="true"></i>                
        </a>
    </div>
</div>