<div>
    <div *ngFor="let k of keys()" style="display: flex; flex-direction: column;">
        <div class="json-row">
            <span class="type" [ngClass]="styleByKey(k)"></span>
            <span class="key">{{k}}</span>
            <span class="value" *ngIf="showValue(k)"> : {{valueByKey(k)}}</span>
        </div>
        <!-- <div *ngIf="typeByKey(k) == 'json'">
            <jhi-jsonvisualizer [data]="data[k]" style="margin-left:30px"></jhi-jsonvisualizer>
        </div> -->
        <jhi-jsonvisualizer [data]="data[k]" style="margin-left:20px" *ngIf="typeByKey(k) == 'json'">
        </jhi-jsonvisualizer>
    </div>
</div>