<div>
    <div *ngFor="let k of keys()" style="display: flex; flex-direction: row;">
        <div class="type" [ngSwitch]="typeByKey(k)" style="display: flex; flex-direction: row;">
            <div *ngSwitchCase="'string'" style="display: flex; flex-direction: row; justify-content: flex-start; align-items:center">
                <span class="fa fa-circle" style="color:blue; flex: 1;" aria-hidden="true"></span>
                <span class="key" style="flex: 2;">{{k}}: </span> 
                <span class="value">{{data[k]}}</span>
            </div>
            <div *ngSwitchCase="'number'" style="display: flex; flex-direction: row; justify-content: flex-start; align-items:center">
                <span class="fa fa-circle" style="color:red; flex: 1;" aria-hidden="true"></span>
                <span class="key" style="flex: 2;">{{k}}: </span> 
                <span class="value">{{data[k]}}</span>
            </div>
            <div *ngSwitchCase="'boolean'" style="display: flex; flex-direction: row; justify-content: flex-start; align-items:center">
                <span class="fa fa-circle" style="color:yellow; flex: 1;" aria-hidden="true"></span>
                <span class="key" style="flex: 2;">{{k}}: </span> 
                <span class="value">{{data[k]}}</span>
            </div>
            <div *ngSwitchCase="'array'" style="display: flex; flex-direction: row; justify-content: flex-start; align-items:center">
                <img src="../../../../content/images/icons/brackets-icon.png" aria-hidden="true" style="flex: 1;"></img>
                <span class="key" style="flex: 2;">{{k}}</span>
            </div>
            <div *ngSwitchCase="'json'" style="display: flex; flex-direction: row; justify-content: flex-start; align-items:center">
                <img src="../../../../content/images/icons/keys-icon.png" aria-hidden="true" style="flex: 1;"></img>
                <span class="key" style="flex: 2;">{{k}}</span>
            </div>
        </div>
    </div>
</div>