<div class="container">
    <h4 id="extractor-creation">{{controlvar.extractor?.style?.defaultName}}</h4>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col">
                <div class="form-group" *ngFor="let field of fieldsToList();">
                    <label class="form-control-label" for="field_{{field.name}}">{{field.name}}</label>
                    <div class="row">
                        <div class="col-10">
                            <input [attr.type]="field.type" class="form-control" name="{{field.name}}" id="field_{{field.name}}" [(ngModel)]="controlvar.extractor[field.name]"
                                required placeholder="{{controlvar.extractor[field.name]}}" [attr.disabled]="disableInput(field)"
                            />
                        </div>
                        <div class="col-2">
                            <button type="button" *ngIf="field.component" [attr.disabled]="disableField(field)" class="btn btn-success" (click)="onClickCustomField(field)">
                                <span>Custom</span>
                            </button>
                        </div>
                    </div>
                    <div [hidden]="!(editForm.controls[field]?.dirty && editForm.controls[field]?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls[field]?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                    <div [style.display]="currentField===field?'block':'none'">
                        <jhi-fields [field]="currentField" [cv]="controlvar" (finished)="onFinished($event)"></jhi-fields>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="controlvar.name" required />
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_frequency">{{ advanzed ? 'Cron expression' : 'Frequency (in seconds)'}}</label>
                    <div class="row">
                        <div class="col-10">
                            <input type="{{advanzed ? 'text' : 'number'}}" class="form-control" name="field_frequency" id="frequency" [(ngModel)]="controlvar.frequency" required />
                            <div [hidden]="!(editForm.controls.frequency?.dirty && editForm.controls.frequency?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.frequency?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" (click)="toggleFrequency()">
                                <span>{{advanzed ? 'Advanzed' : 'Simple'}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </div>



        <!--
        <div class="form-group" *ngFor="let field of extractorFields;">
            <label class="form-control-label" for="field_{{field}}">{{field}}</label>
            <input type="text" class="form-control" name="{{field}}" id="field_{{field}}" [(ngModel)]="controlvar.extractor[field]" [attr.required]="requiredField(field)"
                placeholder="{{controlvar.extractor[field]}}" [attr.disabled]="disableField(field)" />
            <div [hidden]="!(editForm.controls[field]?.dirty && editForm.controls[field]?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls[field]?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>

        <br/>

        <div class="form-group" *ngFor="let field of cvFields;">
            <label class="form-control-label" for="field_{{field}}">{{field}}</label>
            <input type="text" class="form-control" name="{{field}}" id="field_{{field}}" [(ngModel)]="controlvar[field]" required />
            <div [hidden]="!(editForm.controls[field]?.dirty && editForm.controls[field]?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls[field]?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>

        <br/>

        <div>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
        -->
    </form>
</div>