<div id="mainbox">
    <div class="card">
        <div class="header" [ngStyle]="{ 'background-color': cvCard.extractor.style.backgroundColor, 'color': cvCard.extractor.style.fontColor }">
            <div class="header-state" [ngClass]="getClassByStatus()">
            </div>
            <div class="header-body-icon">
                <i class="fa {{cvCard.extractor.style.icon}}"></i>
            </div>
            <div class="header-body-name" (click)="toggle()">
                <span class="header-body-text" title="{{cvCard.name}}">{{cvCard.name}}: {{cvCard.value}}</span>
            </div>
            <div class="header-body-menu">
                <!--<i class="fa fa-bars"></i>-->
                <div ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span ngbDropdownToggle href="javascript:void(0);" class="contextual-menu">
                        <i class="fa fa-bars"></i>
                    </span>
                    <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/', { outlets: { popup: 'cv/'+ cvCard.id + '/edit'} }]">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <span jhiTranslate="deccomApp.ControlVar.menu.edit" class="roboto">Edit</span>
                            </a>
                        </li>
                        <li *ngIf="cvCard.status === 'PAUSED' || cvCard.status === 'BLOCKED'">
                            <a class="dropdown-item" (click)="play()">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                <span jhiTranslate="deccomApp.ControlVar.menu.play" class="roboto">Play</span>
                            </a>
                        </li>
                        <li *ngIf="cvCard.status === 'RUNNING'">
                            <a class="dropdown-item" (click)="pause()">
                                <i class="fa fa-pause" aria-hidden="true"></i>
                                <span jhiTranslate="deccomApp.ControlVar.menu.pause" class="roboto">Pause</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/', { outlets: { popup: 'cv/'+ cvCard.id + '/delete'} }]" replaceUrl="true">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                                <span jhiTranslate="deccomApp.ControlVar.menu.delete" class="roboto">Delete</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body" [ngClass]="{'body-descolated': !isCollapsed }">
            <div class="carousel-container">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <div class="carousel-page">
                            <div>
                                <span jhiTranslate="deccomApp.ControlVar.creation_moment"></span>: {{cvCard.creationMoment | date : "dd.MM.yyyy HH:mm:ss"}}
                            </div>
                            <div>
                                <span jhiTranslate="deccomApp.ControlVar.last_update"></span>: {{cvCard.lastUpdate | date : "dd.MM.yyyy HH:mm:ss"}}
                            </div>
                            <div>
                                <span jhiTranslate="deccomApp.ControlVar.entries"></span>: {{cvCard.controlVarEntries.length}}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="carousel-page">
                            <!--<img src="../../../content/images/icons/graph.png" class="img-graph" alt="">-->
                            <jhi-dashboard-min style="display:block; width: 100%; height: 100%;" [id]="cvCard.id"></jhi-dashboard-min>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>