.card {
    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    /* min-height: 250px; */
    padding-: 10px;
    margin: 10px;
    display: flex;
}

.property {
  margin: 0px;
}

.img1 {
    border-radius: 50%;
    width: 300px;
    margin: 10px;
}
    
h1 {
    font-weight: lighter;
    margin-left: 100px;
    margin-top: -40px;
    font-size: x-large;
}
    
p {
    margin: 10px;
    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 1.2em;
}
    
#mainbox {
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.fondo {
  background-color: #5555FF; 
  flex-grow: 1; color: white; 
  border-radius: 6px; 
  flex-direction: row; 
  display: flex; 
  align-items: stretch;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  z-index: 1;
  min-height: 35px;
  cursor: pointer;
}

.Running {
  background-color: #44AA44;
  flex-grow: 0.3; 
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.Paused {
    background-color: #F2EF35;
    flex-grow: 0.3; 
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

.Blocked {
    background-color: #CC240A;
    flex-grow: 0.3; 
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/*
.collapse, .collapse.in {
    display: block !important;
    transition: all .25s ease-in-out;
  }
  
.collapse {
   opacity: 0;
   height: 0;
}
  
.collapse.in {
    opacity: 1;
    height: 100%;
}
*/