<div id="mainbox">
    <div class="card">
        <!--
        <img src="resources/images/rest.png" alt="" />
        <h1>{{cvCard.name}} | {{cvCard.value}}</h1>
        <img src="resources/images/collapse.png" alt="" />
        -->
        <div class="flex-item">
            <img src="resources/images/rest.png" class="img1" alt="">
            <span style="font-size: x-large" margin-top="-20px">{{cvCard.name}} | {{cvCard.value}}</span>
            <img src="resources/images/collapse.png" class="img1" alt="">
        </div>
        <p><label jhiTranslate="deccomApp.ControlVar.entries"></label>: {{cvCard.entries}}</p>
        <p><label jhiTranslate="deccomApp.ControlVar.last_update"></label>: {{cvCard.last_update}}</p>
        <img src="resources/images/graph.png" class="img2" alt="">
    </div>
</div>