<div id="cv-list-container" class="container">
    <jhi-alert></jhi-alert>
    <div class="row cv-cols-container">
        <div class="col list-surroundings">
            <strong>
                <div class="center-in-bar cardtitle" style="background-color: #44aa44;" jhiTranslate="deccomApp.ControlVar.running">Running</div>
            </strong>
            <div *ngFor="let cvCard of getRunningCards()">
                <jhi-cv-card [cvCard]="cvCard"></jhi-cv-card>
            </div>
        </div>
        <div class="col list-surroundings">
            <strong>
                <div class="center-in-bar cardtitle" style="background-color: #fb8c00;" jhiTranslate="deccomApp.ControlVar.paused">Paused</div>
            </strong>
            <div *ngFor="let cvCard of getPausedCards()">
                <jhi-cv-card [cvCard]="cvCard"></jhi-cv-card>
            </div>
        </div>
        <div class="col list-surroundings">
            <strong>
                <div class="center-in-bar cardtitle" style="background-color: #cc240a;" jhiTranslate="deccomApp.ControlVar.blocked">Blocked</div>
            </strong>
            <div *ngFor="let cvCard of getBlockedCards()">
                <jhi-cv-card [cvCard]="cvCard"></jhi-cv-card>
            </div>
        </div>
    </div>
</div>