<div>
    <h2>
        <span jhiTranslate="deccomApp.sql.home.title">DB Query</span>
    </h2>
    <div class="container">
        <div class="row">
            <form name="sqlForm" role="form" novalidate (ngSubmit)="save()" #sqlForm="ngForm" style="width: 100%">
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="deccomApp.sql.username" for="field_sql_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_sql_username" [(ngModel)]="sqlQuery.username" required
                    />
                    <div [hidden]="!(sqlForm.controls.username?.dirty && sqlForm.controls.username?.invalid)">
                        <small class="form-text text-danger" [hidden]="!sqlForm.controls.username?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="deccomApp.sql.password" for="field_sql_password">Password</label>
                    <input type="password" class="form-control" name="password" id="field_sql_password" [(ngModel)]="sqlQuery.password" required
                    />
                    <div [hidden]="!(sqlForm.controls.password?.dirty && sqlForm.controls.password?.invalid)">
                        <small class="form-text text-danger" [hidden]="!sqlForm.controls.password?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="deccomApp.sql.url" for="field_sql_url">URL</label>
                    <input type="url" class="form-control" name="url" id="field_sql_url" [(ngModel)]="sqlQuery.url" required />
                    <div [hidden]="!(sqlForm.controls.url?.dirty && sqlForm.controls.url?.invalid)">
                        <small class="form-text text-danger" [hidden]="!sqlForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="deccomApp.sql.query" for="field_sql_query">Query</label>
                    <input type="text" class="form-control" name="query" id="field_sql_query" [(ngModel)]="sqlQuery.query" required />
                    <div [hidden]="!(sqlForm.controls.query?.dirty && sqlForm.controls.query?.invalid)">
                        <small class="form-text text-danger" [hidden]="!sqlForm.controls.query?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal" (click)="clear()">
                            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                    <button type="submit" [disabled]="sqlForm.form.invalid || isSaving" class="btn btn-primary send-query">
                            <span class="fa fa-download"></span>&nbsp;<span jhiTranslate="entity.action.load">Load</span>
                        </button>
                </div>
            </form>
        </div>
        {{sqlQueryResult}}
        <div class="row" *ngIf="sqlResponse">
            <jhi-sql-list [sqlResponse]="sqlResponse" (selected)="constructQuery($event)" style="width: 100%"></jhi-sql-list>
        </div>
    </div>
</div>
