<jhi-page-ribbon></jhi-page-ribbon>
<div id="main-body" 
    style="display: flex;
    align-items: stretch;
    justify-content: flex-start;">
    <!--
    <div id="div-sidebar" style="background-color: #283593; color: white; width: 100px;">
        <jhi-sidebar [display]="displaySidebar"></jhi-sidebar>
    </div>-->
    <jhi-sidebar [display]="displaySidebar"></jhi-sidebar>
    <div id="div-content" style="width: 100%;">
        <div>
            <!--<router-outlet name="navbar"></router-outlet>-->
            <jhi-navbar (onDisplaySidebar)="onDisplaySidebar($event)"></jhi-navbar>
        </div>
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
    </div>
</div>
<jhi-cvbutton></jhi-cvbutton>
<jhi-footer></jhi-footer>

