<nav class="navbar deccom-navbar navbar-inverse navbar-toggleable-md jh-navbar">

    <div id="navbar-sidebar-icon" *ngIf="isAuthenticated()">
        <a class="fa fa-bars white-icon" href="javascript:void(0); " id="operation-menu" (click)="toggleSidebar()" style="text-decoration: none;">
            <i aria-hidden="true"></i>
            <b class="caret"></b>
        </a>
    </div>
    <div id="navbar-title">
        <a id="deccom-title" class="white-icon" routerLink="">Deccom</a>
    </div>
    <div id="navbar-buttons">
        <div id="navbar-signin" *ngIf="!isAuthenticated()">
            <button type="button" class="navbar-button" id="signin" (click)="login()">Sign in</button>
        </div>
        <div id="navbar-signup" *ngIf="!isAuthenticated()">
            <button type="button" class="navbar-button" id="signup" routerLink="register">Sign up</button>
        </div>

        <div id="navbar-bell" *ngIf="isAuthenticated()">
            <div ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle white-icon" ngbDropdownToggle href="javascript:void(0);" id="operation-menu">
                    <span class="fa-stack">
                        <i class="fa fa-bell fa-stack-1x"></i>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="rest" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.operation.rest" class="roboto">API REST calls</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="twitter" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.operation.twitter" class="roboto">Extract Twitter data</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="facebook" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.operation.facebook" class="roboto">Extract Facebook data</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="navbar-logued" *ngIf="isAuthenticated()">
            <div ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle white-icon" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-user fa-stack-1x"></i>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings" class="roboto">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password" class="roboto">Password</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout" class="roboto">Sign out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="navbar-languages">
            <div ngbDropdown class="nav-item dropdown pointer" *ngIf="languages" style="display: flex;">
                <a class="dropdown-toggle navbar-a" ngbDropdownToggle href="javascript:void(0); " id="languagesnavBarDropdown" *ngIf="languages.length> 1">
                    <span class="fa-stack">
                        <i class="fa fa-flag fa-stack-1x"></i>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>