<div id="dashboard-container">
    <h2>
        <span jhiTranslate="deccomApp.dashboard.home.title" class="roboto">Dashboard</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div id="dashboard-body">
        <div [hidden]="!chart" class="full" *ngIf="loaded === true" style="width: 80%">
            <canvas id="myChart" class="full" baseChart [chartType]="'scatter'" [datasets]="CVs" [options]="chartOptions"></canvas>
            <!-- <canvas id="myChart"></canvas> -->
        </div>
        <div [hidden]="!chart" class="message" *ngIf="loaded === false">
            <span jhiTranslate="deccomApp.dashboard.noCVs"></span>
        </div>
    </div>
</div>