<div id="home" style="display: inline;">
    <div id="header">
        <div id="header-center">
            <div>
                <h1 id="header-title">DECCOM</h1>
            </div>
            <div id="header-container">
                <div>
                    <span jhiTranslate="home.header.capture">Capture your company</span>
                    <span class="header-key" jhiTranslate="home.header.data">data</span>
                    <span jhiTranslate="home.header.easily">easily</span>
                </div>
                <div>
                    <span jhiTranslate="home.header.impact">Check the impact of your</span>
                    <span class="header-key" jhiTranslate="home.header.decisions">decisions</span>
                </div>
                <div>
                    <span jhiTranslate="home.header.predict">Predict what your</span>
                    <span class="header-key" jhiTranslate="home.header.customers">customers</span>
                    <span jhiTranslate="home.header.want">want</span>
                </div>
            </div>
        </div>
    </div>
    <div id="features">
        <div id="features-container">
            <div id="features-header">
                <h3 id="features-title" jhiTranslate="home.features.features">Features</h3>
                <div id="features-description">
                    <div>
                        <span class="header-key">Deccom</span>
                        <span jhiTranslate="home.features.monitoring">monitoring system allows your company to keep track of all of its data</span>
                    </div>
                    <div jhiTranslate="home.features.structuring">
                        structuring it to be exploited by your favourites data analysis tools
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="feature-box-header">
                        <h4 jhiTranslate="home.features.easy">Easy</h4>
                    </div>
                    <div class="feature-box-description" jhiTranslate="home.features.analyzing">
                        Analyzing your data with us is a piece of cake!
                    </div>
                </div>
                <div class="col-sm feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </div>
                    <div class="feature-box-header">
                        <h4 jhiTranslate="home.features.social">Social media</h4>
                    </div>
                    <div class="feature-box-description">
                        <div jhiTranslate="home.features.check">
                            Check your impact on the main social media platforms and developer your own extractors!
                        </div>
                    </div>
                </div>
                <div class="col-sm feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa fa-line-chart" aria-hidden="true"></i>
                    </div>
                    <div class="feature-box-header">
                        <h4 jhiTranslate="home.features.predict">Predict</h4>
                    </div>
                    <div class="feature-box-description">
                        <div jhiTranslate="home.features.ahead">
                            Get ahead of your competitors integrating your data with your favourite business tools
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="developer">
        <div id="developer-container" class="row">
            <div id="developer-body" class="col-sm">
                <h3>
                    <i class="fa fa-code" aria-hidden="true"></i> API</h3>
                <div id="developer-points">
                    <div class="developer-point">
                        <span style="color: #0097a7; font-weight: bold;">-</span>
                        <span jhiTranslate="home.developer.1">Use our API to create new data extractors which could be used for other people</span>
                    </div>
                    <div class="developer-point">
                        <span style="color: #0097a7; font-weight: bold;">-</span>
                        <span jhiTranslate="home.developer.2">Forms created for your awesome extractors dynamically</span>
                    </div>
                    <div class="developer-point">
                        <span style="color: #0097a7; font-weight: bold;">-</span>
                        <span jhiTranslate="home.developer.3">Embed your powerful Angular components to increase the usability of your extractors using our components</span>
                    </div>
                    <div id="developer-logos" class="developer-point row">
                        <div id="java" class="col-sm"></div>
                        <div id="angular2" class="col-sm"></div>
                        <div id="mongodb" class="col-sm"></div>
                    </div>
                </div>
            </div>
            <div id="developer-img" class="col-sm">
            </div>
        </div>
    </div>
    <div id="contact" class="container">
        <div id="contact-container" class="row">
            <div class="col contact-col contact-data">
                <div>
                    <h5>Team/About us</h5>
                </div>
                <div id="team-container">
                    <div class="team-member-container">
                        <div class="team-member-data">
                            <div class="team-member-img-container">
                                <img class="team-member-img" src="../../content/images/juagarfer4.jpg">
                            </div>
                            <div class="team-member-contact">
                                <a style="margin: 5px;" class="white" href="https://www.linkedin.com/in/juan-garc%C3%ADa-quismondo-342800123/" target="blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a style="margin: 5px;" class="white" href="https://github.com/juagarfer4" target="blank">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-member-name">
                            Juan García-Quismondo
                        </div>
                    </div>
                    <div class="team-member-container">
                            <div class="team-member-data">
                                <div class="team-member-img-container">
                                    <img class="team-member-img" src="../../content/images/albertfx91.jpg">
                                </div>
                                <div class="team-member-contact">
                                    <a style="margin: 5px;" class="white" href="https://www.linkedin.com/in/alberto-rojas-fernandez/" target="blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a style="margin: 5px;" class="white" href="https://github.com/albertfx91" target="blank">
                                        <i class="fa fa-github" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-member-name">
                                Alberto Rojas
                            </div>
                        </div>
                </div>
            </div>
            <div class="col contact-col contact-data">
                <div>
                    <h5 jhiTranslate="home.contact.contact">Contact us</h5>
                </div>
                <div style="font-size: 1.5rem;">
                    <a style="margin: 5px;" class="white" href="mailto:deccom2018@gmail.com" target="blank">
                        <i class="fa  fa-envelope" aria-hidden="true"></i>
                    </a>
                    <a style="margin: 5px;" class="white" href="https://github.com/AlbertFX91/Deccom" target="blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
            <div class="col contact-col contact-data">
                <div>
                    <h5 jhiTranslate="home.contact.find">Find us</h5>
                </div>
                <div>
                    Avenida Reina Mercedes s/n 41012 Sevilla
                </div>
            </div>
        </div>
    </div>
</div>