<div>
    <h2>
        <span jhiTranslate="deccomApp.RestCalls.home.title">API REST call</span>
    </h2>
    <div class="container">
        <div class="row">
            <form name="restcallsForm" role="form" novalidate (ngSubmit)="save()" #restcallsForm="ngForm" style="width: 100%">
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="deccomApp.RestCalls.url" for="field_url">URL</label>
                    <input type="url" class="form-control" name="url" id="field_url" pattern="https?://.+" title="Include http://" [(ngModel)]="url"
                        required />
                    <div [hidden]="!(restcallsForm.controls.url?.dirty && restcallsForm.controls.url?.invalid)">
                        <small class="form-text text-danger" [hidden]="!restcallsForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!restcallsForm.controls.url?.errors?.pattern" jhiTranslate="deccomApp.RestCalls.wrongURL">
                            Wrong URL.
                        </small>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal" (click)="clear()">
                            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                    <button type="submit" [disabled]="restcallsForm.form.invalid || isSaving" class="btn btn-primary">
                            <span class="fa fa-download"></span>&nbsp;<span jhiTranslate="entity.action.load">Load</span>
                        </button>
                </div>
            </form>
        </div>
        <div class="row" *ngIf="response">
            <!-- <jhi-restcalls-show [response]="response" style="width: 100%"></jhi-restcalls-show> -->
            <jhi-jsonvisualizer [(data)]="response" style="width: 100%"></jhi-jsonvisualizer>
        </div>
    </div>
</div>